<div *ngIf="player; else noPlayer">
  <h2>{{ player['longName'] || player['name'] }}</h2>
  <p>Club: {{ player['clubName'] || player['club'] }}</p>
  <p>Posición: {{ player['playerPositions'] || player['position'] }}</p>
  <p>Nacionalidad: {{ player['nationalityName'] || player['nationality'] }}</p>
  <p>Rating: {{ player['overall'] || player['rating'] }}</p>
</div>

<ng-template #noPlayer>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
  <p *ngIf="!errorMessage">Cargando datos del jugador...</p>
</ng-template>
